.scrollableDiv {
  position: relative;
  max-height: 400px;
  overflow: auto;
  display: block;
}

.stickyTableHead {
  position: sticky;
  top: 0;
}

.width25 {
  width: 25%;
}

.width50 {
  width: 50%;
}

.maxWidth90 {
  max-width: 90%;
}